*{/*styl dla każdego elementu znajdującego się na stronie*/
	margin: 350;
	padding: 50;
	font-family: Roboto, arial;
	box-sizing: border-box;
}
.content { width: 1000px; overflow: hidden; }
body{/*styl dla sekcji body*/
background-color: #d4fff9;
border: solid 3px;
min-width:1500px;
}
header{/*styl dla nagłówka strony*/
	background: gray; 
	width:100%; 
	height: 250px;
	border: solid;
	text-align:center;
	font-size:72px;
	line-height:250px;
}
nav{/*styl dla panelu nawigacji zakładkami*/
	background-color: darkcyan;
	width:100%;
	height: 40px;
	text-align: center;
}
a.menu{/*styl dla zawartości panelu nawigacji zakładkami*/
	display: inline-block;
	width: 19%;
	height: 40px;
	padding: 15px 30px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
}
a.menu:hover{/*styl dla najechanej kursorem zakładki*/
	background-color: crimson;
	height: 100%;
	border: 1px solid black;
	color: white;
	opacity: 50%;
}
a.active{/*styl dla aktywnej zakładki*/
	display: inline-block;
	width: 19%;
	height: 100%;
	padding: 15px 30px;
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	background-color: crimson;
	border: 1px solid black;
}
section{/*styl dla sekcji głównej zawartości strony*/
	background: #9aede1; 
	width:85%; 
	height: 750px; 
	float: left;
	padding:35px;
	display: inline-block;
}
article{/*styl dla zawartości sekcji głównej strony*/
	line-height: 30px;

}
#danekontaktowe{/*styl dla danych kontaktowych*/
	float:left;
	width:50%;
}
#formularz{/*styl dla formularza*/
	float:left;
	width:50%;
}

aside{/*styl dla panelu bocznego*/
	background: orange; 
	width:15%; 
	height: 750px; 
	float: right;
	padding:15px 0px 15px 0px;
	font: 14px Arial, sans-serif;
	text-align: center;
	min-width: 15%;
	overflow-y: scroll;
}
footer{/*styl dla stopki*/
	background: darkcyan; 
	width: 100%; 
	height: 100px; 
	clear: both;
	height: 40px;
	text-align: center;
	line-height: 40px;
}
p{/*styl dla paragrafów*/
	font: 14px Arial, sans-serif;
	color: red; 
	text-align: center; 
}
#wybor{
height: 150px;
width: 100px;
}
#asidetop{
height:auto;	
}
#asidemiddle{
height:auto;	
}
#asidedown{
height:auto;
}